node_modules/
*/node_modules/

.env
*/.env

# Prisma generated client
backend/node_modules/.prisma/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build output 
dist/
build/

# Editor folders
.vscode/
.idea/